<form [formGroup]="form" (ngSubmit)="onSubmit()" class="employee-form">
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <!-- 基本情報 -->
    <mat-tab label="基本情報">
      <div class="form-grid">
        <div class="form-row">
          <div class="form-item">
            <label>従業員ID</label>
            <input formControlName="employeeId" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>姓</label>
            <input formControlName="lastName" />
          </div>
          <div class="form-item">
            <label>名</label>
            <input formControlName="firstName" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>姓（カナ）</label>
            <input formControlName="lastNameKana" />
          </div>
          <div class="form-item">
            <label>名（カナ）</label>
            <input formControlName="firstNameKana" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>生年月日</label>
            <input type="date" formControlName="birthday" />
          </div>
          <div class="form-item">
            <label>性別</label>
            <select formControlName="gender">
              <option value="">選択してください</option>
              <option *ngFor="let g of genderTypes" [value]="g.code">{{ g.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>マイナンバー</label>
            <input formControlName="myNumber" maxlength="12" />
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button mat-raised-button color="primary" type="button" (click)="goToNextTab()">次へ</button>
      </div>
    </mat-tab>
    <!-- 雇用情報 -->
    <mat-tab label="雇用情報">
      <div class="form-grid">
        <div class="form-row">
          <div class="form-item">
            <label>事業所名</label>
            <input formControlName="officeName" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>部署</label>
            <input formControlName="department" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>役職</label>
            <input formControlName="position" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>雇用形態</label>
            <select formControlName="employeeType">
              <option value="">選択してください</option>
              <option *ngFor="let t of employeeTypes" [value]="t.code">{{ t.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>勤務形態</label>
            <select formControlName="workStyle">
              <option value="">選択してください</option>
              <option *ngFor="let t of workStyleTypes" [value]="t.code">{{ t.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>契約開始日</label>
            <input type="date" formControlName="contractStartDate" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>契約終了日</label>
            <input type="date" formControlName="contractEndDate" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>退職理由</label>
            <input formControlName="resignationReason" />
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button mat-button type="button" (click)="goToPrevTab()">前へ</button>
        <button mat-raised-button color="primary" type="button" (click)="goToNextTab()">次へ</button>
      </div>
    </mat-tab>
    <!-- 連絡先 -->
    <mat-tab label="連絡先">
      <div class="form-grid">
        <div class="form-row">
          <div class="form-item">
            <label>Email</label>
            <input formControlName="email" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>電話番号</label>
            <input formControlName="phoneNumber" />
          </div>
        </div>
        <div class="form-row" formGroupName="address">
          <div class="form-item">
            <label>郵便番号</label>
            <input formControlName="postalCode" />
          </div>
        </div>
        <div class="form-row" formGroupName="address">
          <div class="form-item">
            <label>都道府県</label>
            <input formControlName="prefecture" />
          </div>
        </div>
        <div class="form-row" formGroupName="address">
          <div class="form-item">
            <label>市区町村</label>
            <input formControlName="city" />
          </div>
        </div>
        <div class="form-row" formGroupName="address">
          <div class="form-item">
            <label>町域・番地</label>
            <input formControlName="town" />
          </div>
        </div>
        <div class="form-row" formGroupName="address">
          <div class="form-item">
            <label>建物名</label>
            <input formControlName="streetAddress" />
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button mat-button type="button" (click)="goToPrevTab()">前へ</button>
        <button mat-raised-button color="primary" type="button" (click)="goToNextTab()">次へ</button>
      </div>
    </mat-tab>
    <!-- 社会保険情報 -->
    <mat-tab label="社会保険情報">
      <div class="form-grid insurance-grid">
        <div class="form-row">
          <div class="form-item" style="align-items: center;">
            <label><input type="checkbox" formControlName="isHealthInsuranceApplicable" /> 健康保険適用</label>
          </div>
          <div class="form-item">
            <label>健康保険被保険者番号</label>
            <input formControlName="healthInsuranceNumber" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item" style="align-items: center;">
            <label><input type="checkbox" formControlName="isPensionApplicable" /> 厚生年金適用</label>
          </div>
          <div class="form-item">
            <label>厚生年金被保険者番号</label>
            <input formControlName="pensionNumber" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item" style="align-items: center;">
            <label><input type="checkbox" formControlName="isEmploymentInsuranceApplicable" /> 雇用保険適用</label>
          </div>
          <div class="form-item">
            <label>雇用保険被保険者番号</label>
            <input formControlName="employmentInsuranceNumber" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label><input type="checkbox" formControlName="isCareInsuranceApplicable" readonly /> 介護保険適用（自動判定）</label>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button mat-button type="button" (click)="goToPrevTab()">前へ</button>
        <button mat-raised-button color="primary" type="button" (click)="goToNextTab()">次へ</button>
      </div>
    </mat-tab>
    <!-- 緊急連絡先と扶養 -->
    <mat-tab label="緊急連絡先と扶養">
      <div class="form-grid">
        <div class="form-row">
          <div class="form-item">
            <label>氏名</label>
            <input formControlName="emergencyContactName" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <label>電話番号</label>
            <input formControlName="emergencyContactPhone" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-item" style="flex: 2 1 0;">
            <div formArrayName="dependents">
              <div *ngFor="let dep of dependents.controls; let i = index" [formGroupName]="i" class="form-row">
                <div class="form-item">
                  <label>氏名</label>
                  <input formControlName="name" />
                </div>
                <div class="form-item">
                  <label>続柄</label>
                  <input formControlName="relation" />
                </div>
                <button type="button" (click)="removeDependent(i)">削除</button>
              </div>
              <button type="button" (click)="addDependent()">扶養家族を追加</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button mat-button type="button" (click)="goToPrevTab()">前へ</button>
        <button mat-raised-button color="primary" type="button" (click)="goToNextTab()">次へ</button>
      </div>
    </mat-tab>
    <!-- その他 -->
    <mat-tab label="その他">
      <div class="form-grid">
        <div class="form-row">
          <div class="form-item">
            <label>備考</label>
            <textarea formControlName="remarks"></textarea>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button mat-button type="button" (click)="goToPrevTab()">前へ</button>
        <button mat-raised-button color="accent" type="submit">保存</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>

