<div class="sidebar-container">
  <button class="sidebar-btn" routerLink="/">ホーム</button>
  <!-- <button class="sidebar-btn" routerLink="/notification">アラート一覧</button> -->
  <button class="sidebar-btn" routerLink="//insurance-detail">従業員毎の保険料</button>
  <button class="sidebar-btn" routerLink="/insurance-calc">保険料算定</button>
  <button class="sidebar-btn" routerLink="/manage-standard-monthly">標準報酬月額管理</button>
  <button class="sidebar-btn" routerLink="/settings">会社情報</button>
  <button class="sidebar-btn" routerLink="/employee">従業員管理</button>
  <button class="sidebar-btn" routerLink="/attendance">勤怠登録</button>
  <button class="sidebar-btn" routerLink="/salary-registration">給与賞与登録</button>
</div>
