<div class="sidebar-container">
  <button class="sidebar-btn" routerLink="/">ホーム</button>
  <button class="sidebar-btn" routerLink="/notification">通知</button>
  <button class="sidebar-btn" routerLink="/dashboard">ダッシュボード</button>
  <button class="sidebar-btn" routerLink="/insurance-calc">保険料算定</button>
  <button class="sidebar-btn" routerLink="/csv-export">CSV出力</button>
  <button class="sidebar-btn" routerLink="/settings">設定</button>
  <button class="sidebar-btn" routerLink="/help" >ヘルプ</button>
</div>
