<div class="master-container">
  <div class="button-grid">
    <button class="menu-button" routerLink="/manage-company">
      <i class="fas fa-building"></i>
      <span>企業情報管理</span>
    </button>
    <button class="menu-button" routerLink="/insurance-rate">
      <i class="fas fa-percent"></i>
      <span>保険料率管理</span>
    </button>
    <button class="menu-button" routerLink="/standard-monthly">
      <i class="fas fa-table"></i>
      <span>標準報酬月額管理</span>
    </button>
    <button class="menu-button" routerLink="/manage-admin">
      <i class="fas fa-user-shield"></i>
      <span>adminuser登録</span>
    </button>
  </div>
</div>
