<div class="setting-container">
  <h1>設定</h1>
  <div class="button-grid mt-4">
    <button class="menu-button" routerLink="/my-company" routerLinkActive="active">
      <i class="fas fa-building"></i>
      <span>本社情報管理</span>
    </button>
    <button class="menu-button" routerLink="/manage-branch" routerLinkActive="active">
      <i class="fas fa-diagram-project"></i>
      <span>支社情報管理</span>
    </button>
    <button class="menu-button" routerLink="/manage-operator" routerLinkActive="active">
      <i class="fas fa-user-tie"></i>
      <span>人事担当者管理</span>
    </button>
  </div>
</div>


