<div class="home-container">
  
  
  <div class="button-grid">
    <button class="menu-button" routerLink="/insurance-calc">
      <i class="fas fa-calculator"></i>
      <span>保険料算定</span>
    </button>

    <button class="menu-button" routerLink="/employee">
      <i class="fas fa-users"></i>
      <span>従業員管理</span>
    </button>

    <button class="menu-button" routerLink="/payroll">
      <i class="fas fa-yen-sign"></i>
      <span>給与賞与管理</span>
    </button>

    <button class="menu-button" routerLink="/attendance">
      <i class="fas fa-calendar-check"></i>
      <span>勤怠管理</span>
    </button>

    <button class="menu-button" routerLink="/csv-export">
        <i class="fas fa-file-export"></i>
        <span>CSV出力</span>
    </button>
      
    <button class="menu-button" routerLink="/history">
        <i class="fas fa-history"></i>
        <span>履歴管理</span>
    </button>

    <button class="menu-button" routerLink="/settings">
        <i class="fas fa-cog"></i>
        <span>設定画面</span>
    </button>

    <button class="menu-button" routerLink="/master" >
        <i class="fas fa-user-shield"></i>
        <span>マスタ管理画面</span>
    </button>

  </div>
</div>
